Brotli
Django
Faker
attrs
coverage
dj-database-url
django-allauth
django-anymail
django-cachalot
django-debug-toolbar
django-environ
django-extensions
django-htmx
django-model-utils
django-permissions-policy
django-postgres-metrics
django-redis
django-rq
django-split-settings
django-widget-tweaks
factory-boy
gunicorn
honcho
ipython
psycopg2-binary
pytest
pytest-cov
pytest-django
pytest-forked
pytest-mock
pytest-randomly
pytest-xdist
redis
rq
sentry-sdk
whitenoise
